:root {
  --gray--bg: #d9d9d9;
  --error-border: red;
  --error-color: var(--error-border);
  --orange-bg: #ffaa73;
}

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.content-item {
  min-width: 320px;
  flex-grow: 1;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-color: var(--gray--bg);
  padding: 25px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
}

.form-group__item {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  width: 100%;
  font-weight: 700;
}

.form-group__input {
  padding: 5px 10px;
  width: 100%;
}

.form-group__button {
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
}

/* welcome */

.welcome {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  background: var(--orange-bg);
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.welcome__logo {
  width: 250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
}

.welcome__logo img {
  width: 100%;
  height: 100%;
}

.welcome__content {
  align-self: center;
}

/* content */

.form {
  padding: 20px;
  border: 1px solid black;
  border-radius: 25px;
  background: var(--gray--bg);
}

.content {
  display: flex;
  gap: 20px;
  height: 100%;
  font-weight: 900;
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.about {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--orange-bg);
  padding: 25px;
}

.about__item {
  display: list-item;
  flex-direction: column;
}
.about__value {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.not-validated {
  border-color: var(--error-border);
  color: var(--error-color);
}
