* {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
  background-color: #D9D9D9;
  padding: 25px;

  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.form-group__item {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  width: 100%;
}

.form-group__input {
  padding: 5px 10px;
  width: 100%;
}

.form-group__button {
  margin-top: 20px;
  padding: 5px 10px;
  width: 100%;
}

/* welcome */

.welcome {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  background: #FFAA73;
}

.welcome__logo {
  width: 250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
}

.welcome__logo img{
 width: 100%;
 height: 100%;
}

.welcome__content {
  align-self: center;
}

/* content */

.content {
  display: flex;
  gap: 20px;
  height: 100%;
}

.about {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #FFAA73;
  padding: 10px;
}